.page_about {
  /* padding-top: 8em; */
  background-color: var(--color-white);
  color: var(--color-white);
  margin: 0;
  padding: 0;
}

.about-hero {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.about-hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #171717cc;
  z-index: -1;
}

.about-hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.about-hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(23, 23, 23, 1) 100%
  );
  backdrop-filter: blur(5px);
  z-index: 1;
}

.about-container {
  width: 100%;
  height: 100%;
}

.about-wrapp {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0 20px;
  z-index: 5;
}

.content {
  width: 100%;
  height: auto;
}

.about-spacer {
  width: 100%;
  height: 50vh;
  background: #ddd;
}

.about-work {
  display: flex;
}

.about-text {
  margin: auto;
  width: 80%;
}

.about-info {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-num {
  display: block;
  line-height: 0.9;
  text-align: right;
  font-size: 18px;
  transform: skewX(-20deg);
  color: var(--color-red);
}

.about-left {
  position: relative;
  width: 54%;
  z-index: 2;
}

.about-left-bl .title {
  text-align: right;
  font-size: 70px;
  text-transform: uppercase;
  color: var(--color-white);
}

.about-left-bl .title .stroke {
  display: block;
  color: transparent;
  -webkit-text-stroke: 1px var(--color-white);
}

.about-left-bl p {
  padding: 25px;
  line-height: 3em;
}

.about-right {
  width: 46%;
  height: auto;
}

.about-right-bl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 80vh;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.about-photo {
  width: 40vw;
  height: 30vw;
  position: relative;
  border-radius: 80px;
}

.about-photo-item {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.about-photo-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 80px;
}

.about-photo::before,
.about-photo::after {
  content: "";
  position: absolute;
  inset: -0.5rem;
  z-index: -1;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--color-yellow),
    orange,
    var(--color-red),
    pink,
    var(--color-light-white)
  );
  border-radius: inherit;
  animation: rotation 5s linear infinite;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

.about-photo::after {
  filter: blur(3.5rem);
}

@media (max-width: 1090px) {
  .about-left-bl .title {
    font-size: 50px;
  }
}

@media (max-width: 680px) {
  .about-left-bl .title {
    font-size: 25px;
  }
  .about-right {
    display: none;
  }

  .about-left {
    width: 100%;
  }
}
